* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2A324B;
    color: #FFFADC;
    font-family: 'Noto Serif JP', serif;
}

a {
    color: #FFFADC;
}

/* GRID AREAS */

.grid--principal {
    grid-area: grid--uno;
}

.grid--principalDos {
    grid-area: grid--dos;
}

.grid--principalTres {
    grid-area: grid--tres;
}

.grid--footer {
    grid-area: grid--footer;
}

#grilla {
    display: grid;
    grid-template-areas: 
    "grid--uno"
    "grid--dos"
    "grid--tres"
    "grid--footer"
    ;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
}

/* PRINCIPAL */

.main--index {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.text--principal {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 2rem 0 .5rem 0;
}

.text--icon {
    text-align: center;
}

.text--icon i {
    font-size: 1.7rem;
    padding: 1rem;
}

.display--principal {
    display: flex;
    flex-wrap: wrap;
}

.card--principal {
    width: 280px;
    margin: 1rem auto;
    text-align: center;
    background-color: #FFFADC;
    color: #2A324B;
    padding: .5rem;
    box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.73);
    -webkit-box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.73);
}

.card--principal img {
    width: 260px;
    box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.73);
    -webkit-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.73);
}