* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(28, 28, 28);
    color: #f3f1e2;
    font-family: 'Noto Serif JP', serif;
}

a {
    color: #f3f1e2;
}

/* GRID AREAS */

.grid--principal {
    grid-area: grid--uno;
}

.display--lunes {
    grid-area: grid--lunes;
}

.display--miercoles {
    grid-area: grid--miercoles;
}

.display--jueves {
    grid-area: grid--jueves;
}

.display--sabados {
    grid-area: grid--sabados;
}

.grid--domingo {
    grid-area: grid--domingo;
}

.grid--footer {
    grid-area: grid--footer;
}

#grilla {
    display: grid;
    grid-template-areas: 
    "grid--uno"
    "grid--lunes"
    "grid--miercoles"
    "grid--jueves"
    "grid--sabados"
    "grid--domingo"
    "grid--footer"
    ;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto;
}

/* PRINCIPAL */

.main--index {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.text--principalUno {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin: 2rem 0 .5rem 0;
}

.text--principal {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 2rem 0 .5rem 0;
}

.text--icon {
    text-align: center;
}

.text--icon i {
    font-size: 1.7rem;
    padding: 1.5rem .5rem;
}

.flex--lunes {
    display: flex;
    flex-wrap: wrap;
}

.flex--miercoles {
    display: flex;
    flex-wrap: wrap;
}

.flex--jueves {
    display: flex;
    flex-wrap: wrap;
}

.flex--sabados {
    display: flex;
    flex-wrap: wrap;
}

.flex--domingo {
    display: flex;
    flex-wrap: wrap;
}

.card--principal {
    width: 280px;
    margin: 1rem auto;
    text-align: center;
    background-color: #f3f1e2;
    color: #111;
    padding: .5rem;
    border-radius: 2px;
    box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.73);
    -webkit-box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.73);
}

.card--principal img {
    width: 260px;
    border-radius: 2px;
    box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.73);
    -webkit-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.73);
}